/* IMPORTANDO A FONTE */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5vh;
    color: var(--black);
    margin: 0;
    padding: 0;
}

/* VARIÁVEIS GLOBAIS */

:root {
    --white: #FFF;
    --primary-color: #385684;
    --secondary-color: #418DFF;
    --light-grey: #e5e5e5;
    --confirm-color: #51bb4f;
    --cancel-color: #e5383b;
    --black: rgba(43, 43, 43);
    --blue-gradient: linear-gradient(253.41deg, #418DFF 24%, rgba(255, 255, 255, 0) 101.73%), #385684;
    /* ON HOVER COLORS */
    --h-primary-color: #2d466b;
    --h-secondary-color: #3c7ee2;
    --h-light-grey: #e5e5e5;
    --h-confirm-color: #4baf49;
    --h-cancel-color: #d33234;
}

/* BARRA DE SCROLL CUSTOMIZADA */

::-webkit-scrollbar-track {
    background-color: #262626;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--blue-gradient);
}

/* HEADER */

.header {
    width: 100%;
    /* height: 20vh; */
    overflow: hidden;
    user-select: none;
}

/* NAVBAR */

.navbar {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 3px 8px 0px var(--light-grey);
    /* margin-bottom: 5vh; */
}

/* LOGO DO NAVBAR */

.nav-logo a img {
    height: 12vh;
}

/*MENU DO NAVBAR */

.navbar-menu ul a {
    text-decoration: none;
    color: var(--black);
    padding: 5vh 2vw;
    transition: 0.2s;
}

.navbar-menu ul a:hover {
    border-bottom: solid 3px var(--primary-color);
}

.navbar-menu ul a li {
    display: inline;
}

.navbar-buttons {
    width: 12vw;
    display: flex;
    justify-content: space-between;
}

/* Botões azuis */

.blue-button {
    font-size: inherit;
    height: 30px;
    width: max-content;
    margin: 5px;
    padding: 0 15px;
    border: none;
    border-radius: 2px;
    color: var(--white);
    background: var(--blue-gradient);
    transition: 0.2s;
}

.blue-button:hover {
    background-color: var(--h-primary-color);
    cursor: pointer;
}

/* JUMBOTRON */

.jumbotron {
    width: 100%;
    height: 58vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/pictures/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}


main{
    user-select: none;
}
/* CONTAINER */

.container {
    width: 80%;
    margin: auto;
}

/* SESSÕES */

section {
    padding: 5% 0;
    text-align: justify;
}

/* RODAPÉ */

footer {
    /* margin-top: 3%; */
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--white);
    background-color: var(--black);
}

footer img {
    height: 6vh;
}

footer p a {
    color: inherit;
}

/* ENTRAR E CADASTRAR */

.form-container, .sign-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/pictures/img6.jpg);
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px 2px #ccc;
}
.form-login h2{
    text-align: center;
}
.form-login {
    height: 90%;
    min-width: 300px;
    width: 32%;
    padding: 0 5%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
}
.form-login .custom-input{
    width: 100%;
}
.form-login .blue-button{
    margin: 30px 0;
}
.form-title{
    margin: 20px 0;
}
.custom-input {
    margin: 10px 0;
    height: 40px;
    min-width: 100px;
    width: 80%;
    color: var(--black);
    border: none;
    border-bottom: solid 2px var(--secondary-color);
    border-radius: 2px;
    padding: 0 20px;
    transition: 0.2s;
    font-size: inherit;
}

.custom-input:focus {
    outline: none;
    border: solid 2px var(--primary-color);
    
}

.sign-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../img/pictures/img1.jpg);
}


/* ESTILIZAÇÃO DAS VALIDAÇÕES */

