/* IMPORTANDO A FONTE */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3vw;
    color: var(--black);
    margin: 0;
    padding: 0;
}

/* VARIÁVEIS GLOBAIS */

:root {
    --white: #FFF;
    --primary-color: #385684;
    --secondary-color: #418DFF;
    --light-grey: #e5e5e5;
    --grey: #6e6e6e;
    --confirm-color: #51bb4f;
    --cancel-color: #c54444;
    --black: rgba(43, 43, 43);
    --image-darken: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
    --blue-gradient: linear-gradient(253.41deg, #418DFF 24%, rgba(255, 255, 255, 0) 101.73%), #385684;
    /* ON HOVER COLORS */
    --h-primary-color: #2d466b;
    --h-secondary-color: #3c7ee2;
    --h-light-grey: #e5e5e5;
    --h-confirm-color: #4baf49;
    --h-cancel-color: #d33234;
}

/* BARRA DE SCROLL CUSTOMIZADA */

::-webkit-scrollbar-track {
    background-color: #262626;
}

::-webkit-scrollbar {
    width: 1vh;
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--blue-gradient);
}

/* GIF DE CARREGAMENTO */

.load-gif {
    height: 40px;
    width: 40px;
    margin: 0 auto;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
    transition: none !important;
}

.visble {
    visibility: visible;
}

/* DESABILITAR LINKS */

.link-disable {
    pointer-events: none;
    color: inherit;
}

/* Centralizar texto */

.center {
    text-align: center;
}

/* HEADER */

.header {
    width: 100%;
    /* height: 20vh; */
    overflow: hidden;
    user-select: none;
}

/* NAVBAR */

.navbar {
    height: 15vh;
    width: 100%;
    font-weight: 600;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: 0px 3px 8px 0px var(--grey); */
    /* margin-bottom: 5vh; */
}

/* LOGO DO NAVBAR */

.nav-logo a img {
    height: 12vh;
}

/*MENU DO NAVBAR */

.nav-selected {
    border-bottom: solid 0.5vh var(--primary-color);
}

.navbar-menu ul a {
    margin: 0 5px;
    text-decoration: none;
    color: var(--black);
    padding: 2vw 2vw;
    transition: 0.2s;
}

.navbar-menu ul a:hover {
    border-bottom: solid 3px var(--primary-color);
}

.navbar-menu ul a li {
    display: inline;
}

.navbar .navbar-buttons a {
    height: 6vh;
    text-decoration: none;
}

.navbar-buttons {
    height: 100%;
    display: flex;
    align-items: center;
}

#exit_icon {
    font-size: 3vh;
}

/* Botão azul */

.blue-button {
    margin: 0 5px;
    font-size: 2.5vh;
    height: 4.5vh;
    margin: .2vw;
    padding: 0 1vw;
    border: none;
    border-radius: 0.3vh;
    color: var(--white);
    background: var(--blue-gradient);
    transition: 0.2s;
}

.blue-button:hover {
    background-color: var(--h-primary-color);
    cursor: pointer;
}

/* MENSAGENS DE ERRO DO FORM*/

.error-message {
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 100%;
    margin: 10px 0;
    background-color: var(--light-grey);
    display: none;
}

/* JUMBOTRON */

.jumbotron {
    width: 100%;
    height: 58vh;
    background-image: var(--image-darken), url(../img/pictures/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    box-shadow: 0px 2px 11px -5px #000;
}

.main-content {
    user-select: none;
}

/* CONTAINER */

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

/* BOXES */

.boxes {
    display: flex;
    width: 100%;
    height: 60vh;
    margin-bottom: 10%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 5px;
    margin: 4%;
    color: var(--secondary-color);
    width: 20%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
    box-shadow: 0px 2px 11px -5px #000;
}

.piano-container {
    width: 100%;
    height: 70vh;
    background-color: var(--black);
    margin: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.piano-container a .blue-button{
    height: 6vh;
}

.piano-container h2 {
    color: var(--white);
}

.box:hover {
    transform: translate(10px, -10px);
    /* background-color: var(--black); */
    /* color: var(--white); */
    cursor: pointer;
}

.big-box {
    border-radius: 5px;
    display: flex;
    background-color: var(--white);
    width: 70%;
    height: 60vh;
    margin: 3% auto 10% auto;
    box-shadow: 0px 2px 11px -5px #000;
    transition: .3s;
}

.big-box:hover {
    /* transform: translate(10px, -10px); */
    width: 71%;
    height: 61vh;
}

.box-content {
    padding: 5%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.black-button {
    margin: 20px 5px;
    height: 4.5vh;
    margin: .2vw;
    padding: 0 1vw;
    border: none;
    border-radius: 0.3vh;
    color: var(--white);
    background-color: var(--black);
    transition: 0.2s;
}

.black-button:hover {
    cursor: pointer;
}

.img-styles {
    width: 40%;
    height: 100%;
    background-image: url(../img/pictures/img3.jpg);
    background-size: cover;
}

.img-instruments {
    width: 40%;
    height: 100%;
    background-image: url(../img/pictures/img1.jpg);
    background-size: cover;
}

.material-icons.large {
    font-size: 3.5vw;
}

/* SESSÕES */

section {
    padding: 5% 0;
    text-align: justify;
}

/* RODAPÉ */

.footer {
    /* margin-top: 3%; */
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--white);
    background-color: var(--black);
}

.footer img {
    height: 6vh;
}

.footer p a {
    color: inherit;
}

@media(max-width: 500px) {
    .navbar {
        display: none;
    }
}